// Variables


$color-1: #c3e288; 
$color-2: #f2d9bb;
$color-3: #afe7f6;
$color-4: #fbdcec;
$color-5: #111111;
$color-6: #ffffff; 
$color-7: #ffffffb0; 
$color-8: #94a378ce; 
$color-9: #636d50;
$color-10: #f0c60ee1;


$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-text: 'Open Sans', sans-serif;
